#headline {
    
    height: 575px;
    background-color: gray;
    background-image: url(../midia/pumpkin03\(1000\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
    
}

#headline h1 {
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    color: white;
    padding: 20px;
    
}

#headline p {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

#headline a {
    margin: 20px;
    padding: 10px 60px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    border: 3px solid rgb(255, 255, 255);
}

#headline a:hover {
    background-color: rgb(252, 80, 17);
    font-weight: 600;
    

}

