* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

/* font-family: 'Amatic SC', cursive;
   font-family: 'Source Code Pro', monospace;; */
/* 
          Variações de cor
Invertido                #00aff5
25% saturado             #ff8f00
Escala de cinzentos      #808080
25% mais claro           #ffa940
Original                 #ff8c00
25% mais escuro          #cc7000
Cor da web: red          #ff0000 / #f00
25% dessaturado          #e68a19
HTML: darkorange         #ff8c00  
*/
#menu {
     
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
<<<<<<< HEAD
     background-color: rgba(255, 95, 37, 0.986);
     position: fixed;
     width: 100%;
=======
     background-color: #ff8c00; 
>>>>>>> e37fff34e3bb40d0736eac5916e10de6caeb2ef8
     

}

#logo {
     display: flex;
     flex: 20%;
     margin-left: 10%;
     

}

#logo h1 {
     font-size: 35px;
     font-weight: 700;
     padding: 10px 15px;
     font-family: 'Amatic SC', cursive;
}

#menu ul {
     flex: 50%;
     text-align: right;
     margin-right: 10%;
     
}

#menu ul li {
     display: inline-block;
     text-decoration: none;
     list-style: none;
     padding: 15px 15px;
     font-family: 'Amatic SC', cursive;
     
     
}


#menu ul li a {
     text-decoration: none;
     font-size: 26px;
     font-weight: 700;
     color: black;
     padding: 10px 15px;

}


#menu ul li a:hover {
     color: white;
     
}

