#section1 {
    height: 600px;
<<<<<<< HEAD
    background-color: gray;
    display: flex;
    flex-flow: column;
}

.lo {
    font-size: 80px;
}
    




=======
    background-color: #808080;
}
>>>>>>> e37fff34e3bb40d0736eac5916e10de6caeb2ef8
